---
# tasks file for osp.security
- name: Create Security Group Apps
  os_security_group:
    cloud: "{{ cloud_name }}"
    state: "{{ state }}"
    name: "{{ item.name }}"
    description: "{{item.description }}"
  with_items: "{{ osp_sg }}"

# - name: Create Security Group Rule Apps
#   os_security_group_rule:
#     cloud: "{{ cloud_name}}"
#     security_group: "{{ item.0.sg }}"
#     protocol: "{{ item.0.protocol }}"
#     port_range_min: "{{ item.1.port }}"
#     port_range_max: "{{ item.1.port }}" 
#     remote_ip_prefix: "{{ item.1.ip_prefix }}"
#   with_subelements:
#     - "{{ osp_sg_rules }}"
#     - rules

- name: Create Security Group Rule Apps
  os_security_group_rule:
    cloud: ospcloud
    security_group: apps 
    protocol: tcp
    port_range_min: "{{ item.port }}"
    port_range_max: "{{ item.port }}" 
    remote_ip_prefix: "{{ item.ip_prefix }}"
  with_items:
    - { port: '8080', ip_prefix: '0.0.0.0/0' }
    - { port: '22', ip_prefix: '0.0.0.0/0' }

- name: Create Security Group Rule Frontend
  os_security_group_rule:
    cloud: ospcloud
    security_group: frontend 
    protocol: tcp
    port_range_min: "{{ item.port }}"
    port_range_max: "{{ item.port }}" 
    remote_ip_prefix: "{{ item.ip_prefix }}"
  with_items:
    - { port: '80', ip_prefix: '0.0.0.0/0' }
    - { port: '443', ip_prefix: '0.0.0.0/0' }
    - { port: '22', ip_prefix: '0.0.0.0/0' }

- name: Create Security Group Rule DB
  os_security_group_rule:
    cloud: ospcloud
    security_group: db
    protocol: tcp
    port_range_min: "{{ item.port }}"
    port_range_max: "{{ item.port }}" 
    remote_ip_prefix: "{{ item.ip_prefix }}"
  with_items:
    - { port: '5432', ip_prefix: '20.20.20.0/24' }
    - { port: '22', ip_prefix: '0.0.0.0/0' }